
*{
    padding: 0;
    margin: 0;
}



body{
    font-family: sans-serif;
    
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    

    
}
.card{
    background: white;
    display: flex;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
}
.card image{
    flex: 1;

}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;  /* dire a l'image de prendre l'espage en cas de modification*/
    
    display: block;
}
.card-content{
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.card-content h2 {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 15px;
  color: red;
  /* color: #000000; */
}

.cord-p {
  color: #333333;
  
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style du bouton "En savoir plus" */
.btn {
  align-self: flex-start; /* Évite que le bouton prenne toute la largeur */
  background-color: red;
  border: 1px solid #999;
  padding: 6px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.btn:hover {
  background-color: blue;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column; /* On empile l'image et le texte verticalement ! */
    }
    .card image{
        min-height: 200px;
    }

    .card-content {
        padding: 20px; /* On réduit un peu les espaces sur petit écran */
    }
    .card-content h2{
        font-size: 1.8rem;
    }
    
    body {
        height: auto; /* On laisse le contenu défiler naturellement sur mobile */
        padding: 20px 0;
    }
}